.game-page-content{
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.game-container{
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    justify-items: center;
    
    .cover{
        height: 100%;
        width: 100%;
        box-shadow: 0 2px 4px 3px rgba(102, 102, 102, 0.15);
        transition: box-shadow 0.3s;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 1s;

        &:hover{
            box-shadow: 0 4px 8px 6px rgba(102, 102, 102, 0.15);
            cursor: pointer;
        }

        img{
            object-fit: scale-down;
            max-width: 75%;
            max-height: 75%;
            transition: opacity .5s;
        }

        &.found{
            background:rgba(143, 143, 143,0.75);
            box-shadow: none;

            &:hover{
                cursor:initial;
            }

            img{
                opacity: 0;
            }
        }
    }

    .transparent{
        opacity: 0;
    }   

    .visible{
        opacity: 1;
    }

}

.game-main{
    position: relative;
}

.game-overlay{
    position: absolute;
    background-color: rgba(102, 102, 102, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateX(-100%);
    transition: 1s .2s ease-in;
    h2{
        font-size: 4rem;
        margin: 2rem;
        color: $white
    }

}

.overlay-on{
    opacity: 1;
    transform: translateX(0);
}


@keyframes overlayAnimation {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }

}