.nav-bar{
    padding: 1rem 3rem;
    margin: 0;
    margin-bottom: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    // border-bottom: 1px solid darken($firstColor, .5);
    border-radius: .5rem;
    box-shadow: 0 1px 2.5px $gray;

    h1{
        font-size: 3rem;
    }
}