html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

.container{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

// HTML TAGS

a{
    text-decoration: none;
}

img{
    width: 100%;
}

h1, h2, h3{
    margin: 0;
}

